@import './common.scss';

// .no-web {
//     display: none;
// }

html {
    font-family: 'SourceHanSansCN-Regular';
    font-size: 20px;
    max-width: 1920px;
    min-width: 1200px;
    overflow: auto;
}

